$primary-color: rgb(94, 94, 230);

* {
    font-family: sans-serif;
    font-weight: bold;
    font-size: large;
    color: white;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.89)), url('../images/tobias-van-schneider-lHGeqh3XhRY-unsplash.jpg');
    background-size: cover;
    background-position: center;
}

main {
    margin: 2rem 4rem;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        text-align: center;
    }
}

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1.5rem;
    margin: 1.5rem;

    button {
        background: none;
        border: none;
        padding: 0;

        @media (width >= 40em) {
            display: none;
        }
    }

    &__close {
        display: block;
        margin-inline-start: auto;
        margin-block-end: 8rem;
        img {
            width: 3.5rem;
        }
    }

    &__menu {
        @media (width < 40em) {
            background-color: $primary-color;
            position: fixed;
            inset: 0;
            padding: 1.5rem;
            translate: 100vw 0;
            transition: translate 0.5s ease-in-out;
        }
    }

    &__links {
        margin: 0;
        padding: 0;
        display: flex;
        gap: 1rem;
        align-items: center;

        @media (width < 40em) {
            flex-direction: column;
        }
    }

    &__item {
        list-style-type: none;
    }

    &__link {
        text-decoration: none;
    }
}
